*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-util
!docker/
!docker/server--nextcloud/
!docker/server--nextcloud/default.docker
!docker/server--nextcloud-database/
!docker/server--nextcloud-database/default.docker
!docker-compose/
!docker-compose/server--nextcloud/
!docker-compose/server--nextcloud/default.docker-compose
!.gitignore
!.gitmodules
!container.env
!host.env
!LICENCE
!README.md
